.container-slider2 {
  max-width: 1230px;
  height: 500px;
  margin: 100px auto 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background: #F7F7F7;
  border-radius: 20px;
  padding-top: 50px;
  padding-left: 100px;
}
@media screen and (max-width: 700px){
  .container-slider2 {
    margin: 100px 10px 0;
  }
}
.slide2 {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}
.slide2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.active-anim2 {
  opacity: 1;
}

.btn-slide2 {
  width: 20px;
  height: 13px;
  border-radius: 50%;
  background: unset;
  border: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide2 img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}
.prev2 {
  top: 50%;
  left: 20px;
  transform: translateY(-60%);
}
.next2 {
  top: 50%;
  right: 20px;
  transform: translateY(-60%);
}


.container-dots2 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot2 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 3px solid #DDDDDD;;
  margin: 0 5px;
  background: #dfd2d2;
}
.dot2.active {
  background:  #EF7D00;;
}